<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.4.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="Evolve" version="1.8.0" targetFramework="net452" />
  <package id="Grid.Mvc" version="3.0.0" targetFramework="net452" />
  <package id="jQuery" version="1.9.1" targetFramework="net452" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net452" />
  <package id="jQuery.Validation" version="1.15.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.40804.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc.pt-br" version="4.0.40804.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="1.0.3" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.0.3" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.8.3" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
</packages>